/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply px-6 py-3 font-semibold rounded-md transition-all duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  .btn-primary {
    @apply btn bg-brand-primary text-white hover:bg-blue-800 focus:ring-brand-primary;
  }

  .btn-secondary {
    @apply btn bg-brand-secondary text-brand-dark hover:bg-amber-500 focus:ring-brand-secondary;
  }

  .btn-outline {
    @apply btn bg-transparent border border-brand-dark text-brand-dark hover:bg-brand-dark hover:text-white focus:ring-brand-dark;
  }

}